
@{
    Layout = "../Shared/_HomeCart.cshtml";
    ViewBag.Title = "SmartStore | Корзина";
}
@model List<SmartStore.Models.OrderPr>
@using System.Web.Optimization
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link rel="stylesheet" href="~/Content/assets/css/swiper.min.css" />
</head>
<body>


</body>
</html>