@Ajax.BeginForm("Form", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "success", OnFailure = "fail", UpdateTargetId = "resultTarget" })
{
@model SmartStore.Models.Peg
    <div>
        @Model.name
    </div>
<form>
    <label for="name">Имя:</label><br>
    <input type="text" id="name" name="name"><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>

    <label for="message">Сообщение:</label><br>
    <textarea id="message" name="message" rows="4" cols="50"></textarea><br>

    <button type="submit"> Send </button>
    <a href="@Url.Action("Index", "Main")">Second page</a>
</form>
}