@using System.Web.Optimization
@{
    Layout = "../Shared/_SignLayout.cshtml";
    ViewBag.Title = "SmartStore | Вход";
}

<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/Content/images/registration/signin-image.jpg" alt="sing up image"></figure>
                <a href="@Url.Action("Registration", "Main")">Create an account</a>
            </div>
            <div class="signin-form">
                <h2 class="form-title">Sign in</h2>
                @using (Ajax.BeginForm("Form", "Main", new AjaxOptions { HttpMethod = "POST", OnSuccess = "success", OnFailure = "fail", UpdateTargetId = "resultTarget" }))
                {
                    @model SmartStore.Models.Authentification
                    <form method="POST" class="register-form" id="login-form">
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="name" id="your_name" placeholder="Your Name" />
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="pass" id="your_pass" placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                        </div>
                    </form>
                }
                </div>
        </div>
    </div>
</section>